body {
    -webkit-text-size-adjust: 100%;
    background-color: #F5F5F5;
    color: #333;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

input[type="text"], input[type="password"] {
    border: 1px solid #ccc;
    padding: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    border-radius: 4px;
}

code {
    color: #db382d;
    background-color: #eee;
    padding: 1px 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#header {
    background-color: #222;
    text-align: left;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.8);
    box-shadow: 0 1px 10px rgba(0,0,0,0.8);
}

#header #inner {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

#header #right {
    float: right;
    margin-top: -3px;
}

#header a {
    color: #bbb;
    text-decoration: none;
    margin-right: 10px;
}

#header a:hover, #header .selected {
    color: #fff;
}

#container {
    text-align: left;
}

#main {
    margin-bottom: 20px;
    margin: 0 auto;
    width: 960px;
    padding-bottom: 40px;
}

#left-section {
    width: 740px;
    float: left;
    margin-bottom: 30px;
}

#sidebar {
    width: 180px;
    float: right;
}

#sub-header {
    background-color: #dfdfdf;
    text-align: left;
    margin-top: 0px;
}

#sub-header h1 {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 8px;
}

#sub-header #inner {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

.nav-header {
    height: 40px;
    text-align: left;
    
    border-bottom: 1px solid #aaa;
    
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top,  #efefef 0%, #cecece 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #efefef 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #efefef 0%,#cecece 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #efefef 0%,#cecece 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #efefef 0%,#cecece 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

.nav-header .inner {
    margin: auto;
    width: 960px;
}

.nav-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid #bbb;
}

.nav-header li {
    display: inline;
    margin-right: -4px;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
}

.nav-header li.selected a {
    background-color: #666 !important;
    box-shadow: inset 0 3px 6px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: default;
}

.nav-header li a {
    color: #222;
    padding: 0 11px;
    border-right: 1px solid #bbb;
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

.nav-header li a:hover {
    background-color: #fff;
}

h1 {
    font-size: 3.8em;
    margin-bottom: 3px;
}

h2 {
    font-size: 1.5em;
    margin-top: 30px;
}

a {
    color: #545454;
    text-decoration: none;
}

a:hover {
    color: #AAA;
}

.btn {
    color: #111 !important;
    font-size: 0.9em;
    cursor: pointer;
    border: 1px solid #b9b9b9;
    padding: 6px 14px;
    background-color: #f5f5f5;
    background: linear-gradient(to top,#e1e1e1 0%,#fff 100%);
}

.btn:hover {
    background-image: none;
    background-color: #e6e6e6;
}

.btn:active {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#caption {
    color: #A8A8A8;
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 30px;
}

#splash img {
    border: 1px solid #D8D8D8;
    margin: 0 10px 10px 0;
}

#player-list span {
    display: inline-block;
}

#graph-tooltip {
    font-size: 10pt;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.center-section {
    margin: auto;
    width: 600px;
    color: #626262;
}

.center-section fieldset {
    background-color: #fff;
    border: 1px solid #bcbcbc;
    border-radius: 4px;
    padding: 20px;
}

.center-section .help {
    font-size: 0.9em;
}

.center-section .errorlist {
    background-color: #fee;
    list-style-type: none;
    color: rgb(202, 0, 0);
    font-size: 1.0em;
    margin: 0 0 20px;
    padding: 8px;
    border: 1px solid #fdd;
}

.control-group {
    margin: 20px 0 20px;
}

.control-group .errorlist {
    background-color: #fff;
    display: inline;
    margin: 0;
    font-size: 0.8em;
    border: 0;
}

.control-group .errorlist li {
    display: inline;
}

.control-label {
    display: inline;
    text-align: right;
    float: left;
    width: 210px;
    font-size: smaller;
    padding-top: 4px;
}

.control {
    display: block;
    margin-left: 230px;
}

.control input[type="text"], input[type="password"] {
    width: 160px;
    height: 17px;
}

#admin-panel #console-area {
    margin-right: 250px;
}

#admin-panel #console {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 11px;
    background-color: #000;
    color: #eee;
    padding: 4px;
    list-style: none;
}

#admin-panel #console a {
    color: inherit;
}

#admin-panel #console-textbox {
    width: 100%;
    height: 22px;
    font-family: "Lucida Console", Monaco, monospace;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#admin-panel #players-area {
    float: right;
    width: 250px;
}

#admin-panel #players {
    padding: 5px;
    overflow-y: scroll;
}

#admin-panel #users {
    padding: 5px;
    overflow-y: scroll;
    border-top: 2px solid #aaa;
}

#chat-container {
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0,0,0,1);
    -moz-box-shadow: 0 1px 10px rgba(0,0,0,1);
    box-shadow: 0 0px 14px rgba(0,0,0,1);
}

#chat-container #chat {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Minecraft Regular";
    font-size: 13px;
    background-color: #222;
    color: #fff;
    padding: 4px;
    list-style: none;
}

#chat-container #chat-textbox {
    width: 100%;
    height: 22px;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.players-table {
    width: 70%;
    background-color: #444;
    color: #fff;
    margin: auto;
    margin-top: 30px;
    font-family: "Minecraft Regular";
    font-size: 12px;
    text-shadow: 2px 2px #222;
    padding: 0;
    border-collapse:collapse;
    table-layout:fixed;
}

.players-table tr {
    padding: 0;
    margin: 0;
}

.players-table td {
    border: 3px solid #2f2f2f;
    padding: 0;
    margin: 0;
    height: 18px;
}

.players-table .face-thumb {
    border: 1px solid #222 !important;
    margin-right: 4px;
}

.players-table a {
    color: #fff;
}

.form-inline {
    display: inline;
}

.server-selector {
    margin-top: 20px;
    font-size: 15pt;
}

.server-selector > .selected {
    color: #AAA;
}

.graph {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.player-header {
    margin: 0 auto;
    width: 960px;
    text-align: left;
}

.player-stat-section {
    float: left;
    width: 25%;
}

.stat-row {
    border: 1px solid #ddd;
    width: 80%;
    margin-top: -1px;
    background-color: #fff;
    padding: 2px 2px 0px 2px;
}

.stat-row .username {
    float: left;
}

.stat-row .count {
    float: right;
}

.stat-row .face-thumb {
    border: 0px !important;
    margin-right: 2px;
}

.face-large {
    border: 1px solid #D8D8D8 !important;
    width: 64px;
    height: 64px;
    margin-bottom: -2px;
    margin-right: 12px;
}

.face-thumb {
    border: 1px solid #D8D8D8 !important;
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
}

.tickLabel {
    font-size: 8pt;
}

.strong {
    font-weight: bold;
}

.player-section {
    display: inline-block;
    margin-right: 5px;
}

.ranking-table {
    width: 100%;
    font-size: 18px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

.ranking-table tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid #ddd;
    position: relative;
}

.ranking-table td {
    padding-top: 3px;
}

.ranking-table .rank {
    width: 22px;
    text-align: right;
    border-right: 1px solid #ddd;
}

.ranking-table .username {
    padding-left: 4px;
    border-right: 1px solid #ddd;
}

.ranking-table .timeSpent {
    padding-left: 6px;
    padding-right: 4px;
    text-align: right;
    width: 1px;
    white-space: nowrap;
}

.ranking-table span {
    font-size: small;
    margin-left: 10px;
}

.search-row {
    font-size: 14pt;
}

#refreshImage {
    margin-bottom: -2px;
}

.progress {
    background: url('../images/progress.gif') no-repeat center;
}

.button {
    cursor: pointer;
}

.rank-star {
    float: left;
    margin-left: -18px;
    padding-top: 4px;
    background: url('../images/star.gif') no-repeat center;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 12px;
    color: #000;
}

.rank-star:hover {
    color: #4e4e4e;
}

.warning {
    background-color: #ffff00;
    color: #000;
    border: 1px solid #ffd700;
    padding: 2px;
    text-align: center;
}

.warning a {
    color: #0072ab;
}

.warning a:hover {
    color: #005d8c;
    text-decoration: underline;
}

.small {
    font-size: 0.5em;
    margin-left: 10px;
    color: #888;
}

.banned {
    color: #f00;
    margin-left: 16px;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

@font-face {
    font-family:"Minecraft Regular";
    src:url("../fonts/minecraft.eot?") format("eot"),
        url("../fonts/minecraft.woff") format("woff"),
        url("../fonts/minecraft.ttf") format("truetype"),
        url("../fonts/minecraft.svg#Minecraft") format("svg");
    font-weight:normal;font-style:normal;
}
