{% extends 'djangobb_forum/base.html' %}
{% load forum_extras %}
{% load i18n %}

{% block djangobb_content %}
<div class="linkst">
	<div class="inbox">
		{% if forum %}
		<ul class="start"><li><a href="{% url djangobb:index %}">{% trans "Forum" %}</a> </li><li>&raquo; {% link forum %}</li></ul>
		{% else %}
			<ul><li><a href="{% url djangobb:index %}">{% trans "Forum" %}</a> </li><li>&raquo; {% link topic.forum %}</li><li>&raquo; {{ topic }}</li></ul>
		{% endif %}
		<div class="clearer"></div>
	</div>
</div>

<div class="blockform">
	<h2><span>{% if forum %}{% trans "New topic" %}{% else %}{% trans "New reply" %}{% endif %}</span></h2>
	<div class="box">
		<form id="post" action="{% if forum %}{% url djangobb:add_topic forum.id %}{% else %}{% url djangobb:add_post topic.id %}{% endif %}" method="post" enctype="multipart/form-data">

			{% csrf_token %}
			<div class="inform">
				<fieldset>
					<legend>{% trans "Write your message and submit" %}</legend>
					<div class="infldset txtarea">
						{% if forum %}
							<label><strong>{% trans "Subject" %}</strong><br />{{ form.name.errors }}{{ form.name }}<br /></label>
						{% endif %}
						<label><strong>{% trans "Message" %}</strong><br />{{ form.body.errors }}{{ form.body }}<br /></label>
					</div>
				</fieldset>
			</div>
			{% if forum_settings.ATTACHMENT_SUPPORT %}
			<div class="inform">
				<fieldset>
					<legend>{% trans "Attachment" %}</legend>
					<div class="infldset">
						{{ form.attachment.errors }}
						<div class="rbox">
							{{ form.attachment }}
						</div>
					</div>
				</fieldset>
			</div>
			{% endif %}
			<p><input class="btn" type="submit" value="{% trans "Submit" %}" /></p>
		</form>
	</div>
</div>
<script>
	$('input[type=submit]').on('click', function(e) {
		$(this).closest('form').submit();
		$(this).attr('disabled', 'disabled');
	});
</script>
{% if not forum %}
<div id="postreview" class="blockpost">

	<h2><span>{% trans "Topic review (newest first)" %}</span></h2>
	{% for post in posts reversed %}
	{% with post.user.forum_profile.player as player %}
	<div class="box rowodd">
		<div class="inbox">
			<div class="postleft">
				<dl>
					<dt>
					{% if player %}
					<a href="/player/{{ post.user.username }}">
						{{ player.displayname_html|safe }}
					</a>
					{% else %}
							{{ post.user.username }}
					{% endif %}
					</dt>
					<dd><abbr class="timeago" title="{% forum_time post.created %}"></abbr></dd>
				</dl>
			</div>
			<div class="postright">
				<div class="postmsg">
					{{ post.body_html|safe }}
				</div>
				<div class="clearer"></div>
			</div>
		</div>
	</div>
	{% endwith %}
	{% endfor %}
	
</div>
{% endif %}

{% endblock %}
