{% load forum_extras %}
{% load cache %}
{% load i18n %}

{% if forum.last_post.topic %}
	<tr class="row {% if forum|forum_unreads:user %}inew{% endif %}">
{% else %}
	<tr>
{% endif %}
	<td class="tcl">
		<div class="intd">
			<div class="icon">
				<div class="nosize"><!-- --></div>
			</div>
			<div class="tclcon">
				<h3>{% link forum %}</h3>
				{{ forum.description|safe }}
				<p>
				{% cache 1000 moderators forum.id %}
					{% with forum.moderators.all as moderators %}
						{% if moderators %}
							{% include 'djangobb_forum/moderators.html' %}
						{% endif %}
					{% endwith %}
				{% endcache %}
				</p>
			</div>
		</div>
	</td>
	<td class="tc2">{{ forum.topic_count }}</td>
	<td class="tc3">{{ forum.post_count }}</td>
	<td class="tcr">
		{% if forum.updated %}
			{% if forum.last_post.topic %}
				{% with forum.last_post.user.forum_profile.player as player %}
					<a href="{{ forum.last_post.get_absolute_url }}"><abbr class="timeago" title="{% forum_time forum.last_post.created %}"></abbr></a>
					<span class="byuser">{% trans "by" %}
					{% if player %}
						<a href="/player/{{ player.username }}">
							{{ player.displayname_html|safe }}
						</a>
					{% else %}
						{{ forum.last_post.user.username }}
					{% endif %}
					</span>
				{% endwith %}
			{% endif %}
		{% endif %}
	</td>
</tr>
