{% extends "base.html" %}

{% block title %}Admin - Standard Survival Minecraft Server{% endblock %}

{% block select_admin %}selected{% endblock %}

{% block script_files %}
<script src="http://{{ rts_address }}/socket.io/socket.io.js"></script>
{% endblock %}

{% block content %}
    <div class="nav-header">
      <div class="inner">
        <ul>
          {% for server in servers %}
          <li {% if server.id == server_id %}class="selected"{% endif %}>
            <a class="tooltip" href="/{{server.id}}/server-admin" title="Address: {{ server.address }}">{{ server.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="sub-header">
      <ul>
        <li>
          <div>Players<span class="stat player-count">-</span></div>
        </li>
        <li>
          <div>TPS<span class="stat tps">-</span></div>
        </li>
        <li>
          <div>Load<span class="stat load">-</span></div>
        </li>
      </ul>
    </div>
    <div class="admin-panel">
      <div class="admin-right">
        <div class="players"></div>
        <div class="users"></div>
      </div>
      <div class="detail" style="display: none;">
        <a class="close" href="#">x</a>
        <img class="face">
        <h3 class="name"></h3>
        <b>IP Address:</b> <span class="ip">123.23.2.32</span>
        <p>Actions:</p>
        <div class="options">
          <a class="btn donator" href="#">Set Donator</a><br>
        </div>
      </div>
      <div class="admin-left">
        <div class="console"></div>
        <input class="console-textbox" type="text">
      </div>
    </div>
    
    <script type="text/javascript">
        var $console;
        var $detail;
        
        function resize() {
            $console.height($(window).height() - $("#header").outerHeight() - $(".nav-header").outerHeight() - $(".sub-header").outerHeight() - 30);
            $detail.height($(window).height() - $("#header").outerHeight() - $(".nav-header").outerHeight() - $(".sub-header").outerHeight() - 42);
            $(".players").height($(window).height() - $("#header").outerHeight() - $(".nav-header").outerHeight() - $(".sub-header").outerHeight() - 150);
            $(".users").height(128);
        }
        
        $(document).ready(function() {
            $console = $('.console');
            $detail = $('.detail');
            
            var $consoleTextbox = $('.console-textbox');
            
            var sessionKey = '{{ request.session.session_key }}';
            var baseUrl = 'http://{{ rts_address }}';
            var serverId = {{ server_id }};
            
            var consoleStream = new ConsoleStream(sessionKey, baseUrl, $console,
                                                  $consoleTextbox, serverId);
        
            resize();
            
            $(window).resize(function() {
                resize();
                consoleStream.scrollToBottom();
            });
            
            consoleStream.connect(function(error) {});
            
            var currentUsername;
            var $close = $detail.find('.close');
            var $name = $detail.find('.name');
            var $image = $detail.find('.face');
            var $ip = $detail.find('.ip');
            var $donatorBtn = $detail.find('.donator');
            
            $(document).on('click', '.player', function(e) {
                var username = $(this).attr('username');
                var displayName = $(this).find('span').html();
                var ipAddress = $(this).attr('ip-address');
                
                $name.html(displayName);
                $ip.html(ipAddress);
                
                if (username != currentUsername) {
                    currentUsername = username;
                    
                    $image.fadeTo(0, 0.2);
                    $image.attr('src', '/faces/64/' + username + '.png');
                }
                
                $detail.show();
            });
            
            $image.on('load', function(e) {
                $image.fadeTo(0, 1);
            });
            
            $donatorBtn.on('click', function(e) {
                consoleStream.setDonator(currentUsername);
            })
            
            $close.on('click', function(e) {
                $detail.hide();
            });
        })
    </script>
{% endblock %}
