{% extends "base.html" %}

{% block title %}Admin - Standard Survival Minecraft Server{% endblock %}

{% block select_admin %}selected{% endblock %}
{% block content %}
    <div id="admin-panel">
        <div id="players-area">
            <div id="players"></div>
            <div id="users"></div>
        </div>
        <div id="console-area">
            <div id="console"></div>
            <input id="console-textbox" type="text">
        </div>
    </div>
    
    <script src="http://{{ rts_address }}/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var commandHistory = [];
        var commandIndex = -1;
        var socket;
        
        function addConsoleLine(line) {
            var $console = $('#console');
            var shouldScroll = $console.get(0).scrollHeight - $console.scrollTop() == $console.outerHeight();
            
            $console.append('<li>' + line + '</li>');
            
            // Scroll to see the new line of text if the bottom was already visible
            if (shouldScroll) {
                $console.scrollTop($console.get(0).scrollHeight);
            }
        }
        
        function socketConnect() {
            if (typeof io === 'undefined') {
                addConsoleLine("ERROR: Could not establish socket connection");
                return;
            }
            
            socket = io.connect('http://{{ rts_address }}/console');
            
            // Authenticate using the current django session key. It must belong
            // to a superuser to proceed with socket.io connection
            socket.on('connect', function() {
                $("#console").empty();
                
                var djangoSessionKey = "{{ request.session.session_key }}";
                socket.emit('auth', {
                    djangoSessionKey: djangoSessionKey,
                    serverId: 2
                });
            });
            
            socket.on('disconnect', function() {
                addConsoleLine("ERROR: socket disconnected");
            });
            
            // This event is received when the session key is either invalid or doesn't
            // belong to a superuser
            socket.on('unauthorized', function(data) {
                addConsoleLine("ERROR: you are not authorized to access the admin panel!");
            });
            
            socket.on('mc-connection-lost', function() {
                addConsoleLine("Connection to Minecraft server lost, retrying...");
            });
            
            // Receive a console output line
            socket.on('console', function(data) {
                addConsoleLine(data.line);
            });
            
            // Update list of players shown
            socket.on('player-list', function(data) {
                var players = data.players;
                var numPlayers = data.numPlayers;
                var maxPlayers = data.maxPlayers;
                
                players = players.sort(function(a, b) {
                    a = (a.nickname ? a.nickname : a.username);
                    b = (b.nickname ? b.nickname : b.username);
                    
                    if (a.toLowerCase() < b.toLowerCase()) return -1;
                    if (a.toLowerCase() > b.toLowerCase()) return 1;
                    return 0;
                });
                
                $('#players').html('<b>Player count: ' + numPlayers + ' / ' + maxPlayers + '</b>');
                for (var i = 0; i < players.length; ++i) {
                    var username = players[i].username;
                    var nickname = players[i].nickname;
                    
                    var html = ['<div class="player">',
                                    '<a href="/player/' + username + '">',
                                        '<span><img class="face-thumb" src="/faces/16/' + username + '.png">' + (nickname ? nickname : username) + '</span>',
                                    '</a>',
                                '</div>'].join('');
                    
                    $('#players').append(html);
                }
            });
            
            socket.on('chat-users', function(data) {
                var users = data.users;
                
                var html = '<b>Chat user count: ' + users.length + '</b>';
                for (var i = 0; i < users.length; ++i) {
                    var username = users[i].username;
                    var address = users[i].address;
                    
                    if (username == 'Server') {
                        html += ['<div class="user">',
                                        '<span>' + username + ' - ' + address + '</span>',
                                '</div>'].join('');
                    } else {
                        html += ['<div class="user">',
                                    '<a href="/player/' + username + '">',
                                        '<span><img class="face-thumb" src="/faces/16/' + username + '.png">' + username + '</span>',
                                    '</a>',
                                    ' - ' + address,
                                '</div>'].join('');
                    }
                }
                
                $('#users').html(html);
            });
        }
            
        function resize() {
            $("#console").height($(window).height() - $("#header").outerHeight() - 30);
            $("#players").height($(window).height() - $("#header").outerHeight() - 140);
            $("#users").height(118);
        }
        
        resize();
        
        $(document).ready(function() {
            var $console = $('#console');
            var $consoleTextbox = $('#console-textbox');
            
            socketConnect();
            
            $(document).keypress(function (e) {
                if (!$consoleTextbox.is(":focus")) {
                    $consoleTextbox.focus();
                }
            });
            
            $consoleTextbox.keyup(function (e) {
                switch (e.which) {
                    case 13: //Enter
                        var data = {};
                        var input = $consoleTextbox.val();
                        
                        if (input[0] == "/") {
                            data = {
                                command: input.substring(1, input.length)
                            }
                        } else {
                            data = {
                                message: input
                            }
                        }
                        
                        socket.emit('console-input', data);
                        $consoleTextbox.val("");
                        $console.scrollTop($console.get(0).scrollHeight);
                        
                        commandHistory.unshift(input);
                        commandIndex = -1;
                        break;
                    case 38: //Up
                        if (commandIndex < commandHistory.length - 1) {
                            commandIndex++;
                            $consoleTextbox.val(commandHistory[commandIndex]);
                        }
                        break;
                    case 40: //Down
                        if (commandIndex > -1) {
                            commandIndex--
                            $consoleTextbox.val(commandHistory[commandIndex]);
                        }
                        break;
                }
            });
            
            $(window).resize(function() {
                resize();
                $('#console').scrollTop($('#console').get(0).scrollHeight);
            });
        })
    </script>
{% endblock %}
