{% extends "base.html" %}

{% block title %}Admin - Standard Survival Minecraft Server{% endblock %}

{% block select_admin %}selected{% endblock %}

{% block script_files %}
<script src="http://{{ rts_address }}/socket.io/socket.io.js"></script>
<script src="{{STATIC_URL}}js/streams.js"></script>
{% endblock %}

{% block content %}
    <div class="nav-header">
      <div class="inner">
        <ul>
          {% for server in servers %}
          <li {% if server.id == server_id %}class="selected"{% endif %}>
            <a class="tooltip" href="/{{server.id}}/server-admin" title="Address: {{ server.address }}">{{ server.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="sub-header">
      <ul>
        <li>
          <div>Players<span class="stat player-count">-</span></div>
        </li>
        <li>
          <div>TPS<span class="stat tps">-</span></div>
        </li>
        <li>
          <div>Load<span class="stat load">-</span></div>
        </li>
      </ul>
    </div>
    <div class="admin-panel">
      <div class="admin-right">
        <div class="players"></div>
        <div class="users"></div>
      </div>
      <div class="detail">
        
      </div>
      <div class="admin-left">
        <div class="console"></div>
        <input class="console-textbox" type="text">
      </div>
    </div>
    
    <script type="text/javascript">
        var $console;
        
        function resize() {
            $console.height($(window).height() - $("#header").outerHeight() - $(".nav-header").outerHeight() - $(".sub-header").outerHeight() - 30);
            $(".players").height($(window).height() - $("#header").outerHeight() - $(".nav-header").outerHeight() - $(".sub-header").outerHeight() - 150);
            $(".users").height(128);
        }
        
        $(document).ready(function() {
            $console = $('.console');
            var $consoleTextbox = $('.console-textbox');
            var sessionKey = '{{ request.session.session_key }}';
            var baseUrl = 'http://{{ rts_address }}';
            var serverId = {{ server_id }};
            
            var consoleStream = new ConsoleStream(sessionKey, baseUrl, $console,
                                                  $consoleTextbox, serverId);
        
            resize();
            
            $(window).resize(function() {
                resize();
                consoleStream.scrollToBottom();
            });
            
            consoleStream.connect(function(error) {});
        })
    </script>
{% endblock %}
