{% extends "base.html" %}

{% block title %}Analytics - Standard Survival Minecraft Server{% endblock %}

{% block content %}
    <div class="nav-header">
        <div class="inner">
            <ul>
                {% for server in servers %}
                <li {% if server.id == server_id %}class="selected"{% endif %}>
                    <a class="tooltip" href="/{{server.id}}/analytics" title="Address: {{ server.address }}">{{ server.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="main">
        {% for cohort in cohorts %}
            {% if forloop.revcounter0 == 0 %}
                <h1>This week - {{ cohort.entrants|length }} new players</h1>
            {% else %}
                <h1>{{ forloop.revcounter0 }} week{{ forloop.revcounter0|pluralize }} ago - {{ cohort.entrants|length }} new players</h1>
            {% endif %}
            <div id="graph" class="graph progress" weekIndex="{{ forloop.counter0 }}"></div>
            
            {% if cohort.average_time_spent %}
                <h3>Average time spent per new player starting this week</h3>
                {{ cohort.average_time_spent }}
            {% endif %}
            {% if forloop.revcounter0 > 0 %}
                <h3>New players starting this week with less than one hour played</h3>
                {{ cohort.less_than_hour }}
            {% endif %}
            {% if cohort.inactive %}
                <h3>New players last seen this week</h3>
                {{ cohort.inactive }}
            {% endif %}
            {% if cohort.inactive %}
                <h3>New players still playing now</h3>
                {{ cohort.active }}
            {% endif %}
        {% endfor %}
    </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('.graph').each(function() {
                loadPlayerGraph($(this), {{ server_id }});
            });
        });
    </script>
{% endblock %}
