<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title>{% block title %}Standard Survival Minecraft Server{% endblock %}</title>
    <meta name="description" content="A vanilla-inspired Minecraft survival server">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
        
    <script>
        var _ratchetParams = {
            "server.environment": "production",
            {% if user.is_authenticated %}person: {
                id: {{user.id}},
                username: '{{user.username}}',
                email: '{{user.email}}'
            }{% endif %}
        };
        _ratchetParams["notifier.snippet_version"] = "1"; var _ratchet=["76c3a5381627453a9c655f687aee7ef4", _ratchetParams];
        (function(w,d){w.onerror=function(e,u,l){_ratchet.push({_t:'uncaught',e:e,u:u,l:l});};var i=function(){var s=d.createElement("script");var 
        f=d.getElementsByTagName("script")[0];s.src="//d2tf6sbdgil6xr.cloudfront.net/js/1/ratchet.min.js";s.async=!0;
        f.parentNode.insertBefore(s,f);};if(w.addEventListener){w.addEventListener("load",i,!1);}else{w.attachEvent("onload",i);}})(window,document);
    </script>

    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.timeago.js"></script>
    <!--[if lte IE 8]><script type="text/javascript" src="{{STATIC_URL}}js/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/graph.js"></script>
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32372174-1']);
        _gaq.push(['_trackPageview']);
        
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body>
    <div id="header">
        <div id="inner">
            <a href="/" class="strong {% block select_index %}{% endblock %}">Standard Survival</a>
            <a class="{% block select_ranking %}{% endblock %}" href="/ranking">Ranking</a>
            <a class="{% block select_forum %}{% endblock %}" href="/forum/">Forum</a>
            <a class="{% block select_vote %}{% endblock %}" href="/forum/topic/116/">Vote</a>
            {% if user.is_superuser %}<a href="/analytics">Analytics</a>{% endif %}
            <div id="player-search">
                <form onsubmit="playerSearch(); return false;">
                    <input id="searchBox" type="text" placeholder="Player search" value="{{ query }}"/>
                </form>
            </div>
            {% if not user.is_superuser and user.is_authenticated %}
            <a class="{% block select_player %}{% endblock %}" href="/player/{{ user.username }}">{{ user.username }}</a>
            {% endif %}
        </div>
    </div>
    <div id="sub-header">
        {% block sub-header %}{% endblock %}
    </div>
    <div id="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>