{% extends "base.html" %}

{% block title %}Live Server Chat - Standard Survival Minecraft Server{% endblock %}

{% block select_chat %}selected{% endblock %}

{% block script_files %}
<script src="http://{{ rts_address }}/socket.io/socket.io.js"></script>
<script src="{{STATIC_URL}}js/streams.js"></script>
{% endblock %}

{% block content %}
    <div class="nav-header">
      <div class="inner">
        <ul>
          {% for server in servers %}
          <li {% if server.id == server_id %}class="selected"{% endif %}>
              <a class="tooltip" href="/{{server.id}}/chat" title="Address: {{ server.address }}">{{ server.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="main">
      <h2>Live Server Chat</h2>
      <div id="chat-container">
        <div id="chat"></div>
        <input id="chat-textbox" type="text" maxlength="80">
      </div>
      {% if not user.is_authenticated %}
      <br>
      <div>
        You must be <a href="{% url views.login %}">logged in</a> to the website to be able to chat!
      </div>
      {% endif %}
      <table class="players-table">
      </table>
      
      <script type="text/javascript">
          $(document).ready(function() {
              var $chat = $('#chat');
              var $chatTextbox = $('#chat-textbox');
              var sessionKey = '{{ request.session.session_key }}';
              var baseUrl = 'http://{{ rts_address }}';
              var serverId = {{ server_id }};
              
              var chatStream = new ChatStream(sessionKey, baseUrl, $chat,
                                                    $chatTextbox, serverId);
              
              $(document).on("click", ".message-player", function(event) {
                  $chatTextbox.val("/msg " + $(this).attr("player") + " ");
                  $chatTextbox.focus();
                  return false;
              });
              
              chatStream.connect(function(error) {});
          })
      </script>
    </div>
{% endblock %}
