{% extends "base.html" %}

{% block title %}Live Server Chat - Standard Survival Minecraft Server{% endblock %}

{% block select_chat %}selected{% endblock %}
{% block content %}
    <div class="nav-header">
      <div class="inner">
        <ul>
          {% for server in servers %}
          <li {% if server.id == server_id %}class="selected"{% endif %}>
              <a class="tooltip" href="/{{server.id}}/chat" title="Address: {{ server.address }}">{{ server.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="main">
      <h2>Live Server Chat</h2>
      <div id="chat-container">
        <div id="chat"></div>
        <input id="chat-textbox" type="text" maxlength="80">
      </div>
      {% if not user.is_authenticated %}
      <br>
      <div>
        You must be <a href="{% url views.login %}">logged in</a> to the website to be able to chat!
      </div>
      {% endif %}
      <table class="players-table">
      </table>
      
      <script src="http://{{ rts_address }}/socket.io/socket.io.js"></script>
      <script type="text/javascript">
          var commandHistory = [];
          var commandIndex = -1;
          var socket;
          
          function addChatLine(line) {
              var $chat = $('#chat');
              var shouldScroll = $chat.get(0).scrollHeight - $chat.scrollTop() == $chat.outerHeight();
              
              $chat.append('<li>' + line + '</li>');
              
              // Scroll to see the new line of text if the bottom was already visible
              if (shouldScroll) {
                  $chat.scrollTop($chat.get(0).scrollHeight);
              }
          }
          
          // Renders a table almost identical looking to the tab player table ingame
          function renderPlayersTable(players, maxPlayers) {
              var tableHtml = "<tr>";
              
              for (var i = 0; i < maxPlayers; ++i) {
                  if (players.length <= i) {
                      tableHtml += '<td>&nbsp;</td>';
                  } else {
                      var username = players[i].username;
                      var nickname = players[i].nickname;
                      
                      var displayName = (nickname ? nickname : username);
                      
                      tableHtml += ['<td>',
                                      '<a href="/player/' + username + '" target="_blank">',
                                        '<span><img class="face-thumb" src="/faces/16/' + username + '.png">' + displayName + '</span>',
                                      '</a>',
                                      {% if user.is_superuser %}
                                      '<a class="message-player" player="' + username + '" href="#">',
                                        '<img src="/static/images/message.png">',
                                      '</a>',
                                      {% endif %}
                                    '</td>'].join('');
                  }
                  
                  // Three columns per row, same as ingame
                  if ((i + 1) % 3 == 0) {
                      tableHtml += '</tr><tr>'
                  }
              }
              tableHtml += "</tr>";
              
              $('.players-table').html(tableHtml);
          }
          
          function socketConnect() {
              if (typeof io === 'undefined') {
                  addChatLine("ERROR: Could not establish socket connection!");
                  _rollbar.push({level: 'error', msg: 'Client could not connect to realtime server'});
                  return;
              }
              
              addChatLine("Connecting...");
              
              socket = io.connect('http://{{ rts_address }}/chat');
              
              socket.on('connect', function() {
                  $("#chat").empty();
                  
                  var data = {
                    serverId: {{ server_id }}
                  };
                  
                  {% if request.user.is_authenticated %}
                  data['djangoSessionKey'] = "{{ request.session.session_key }}";
                  {% endif %}
                  
                  // Authenticate using the current django session key if it exists
                  socket.emit('auth', data);
              });
              
              socket.on('connection-spam', function() {
                  addChatLine("Stop trying to connect so much!");
                  addChatLine("Try again in a few minutes...");
                  _rollbar.push({level: 'info', msg: 'Connection spam blocked'});
              });
              
              socket.on('chat-spam', function() {
                  addChatLine("Stop typing so fast!");
                  _rollbar.push({level: 'info', msg: 'Chat spam blocked'});
              });
              
              socket.on('disconnect', function() {
                  addChatLine("ERROR: socket disconnected");
                  _rollbar.push({level: 'error', msg: 'Client disconnected from chat socket'});
              });
            
              socket.on('mc-connection-lost', function() {
                  addChatLine("Connection to Minecraft server lost, retrying...");
              });
            
              socket.on('mc-connection-restored', function() {
                  addChatLine("Connection restored!");
              });
              
              // Receive a chat line
              socket.on('chat', function(data) {
                  if (data.line) {
                      addChatLine(data.line);
                  } else if (data.batch) {
                      console.log(data.batch);
                      
                      data.batch.map(function(line) {
                          addChatLine(line);
                      });
                  }
              });
              
              // Update list of players shown
              socket.on('server-status', function(data) {
                  var players = data.players;
                  var numPlayers = data.numPlayers;
                  var maxPlayers = data.maxPlayers;
                  
                  players = players.sort(function(a, b) {
                      a = (a.nickname ? a.nickname : a.username);
                      b = (b.nickname ? b.nickname : b.username);
                      
                      if (a.toLowerCase() < b.toLowerCase()) return -1;
                      if (a.toLowerCase() > b.toLowerCase()) return 1;
                      return 0;
                  });
                  
                  renderPlayersTable(players, maxPlayers);
              });
          }
          
          $(document).ready(function() {
              var $chatTextbox = $('#chat-textbox');
              
              socketConnect();
            
              $(document).keypress(function (e) {
                  if (!$chatTextbox.is(':focus')
                      && !$('#searchBox').is(':focus')) {
                      $chatTextbox.focus();
                  }
              });
              
              $chatTextbox.keyup(function (e) {
                  switch (e.which) {
                      case 13: //Enter
                          var data = {};
                          var input = $chatTextbox.val();
                          
                          socket.emit('chat-input', {
                            message: input
                          });
                          
                          $chatTextbox.val("");
                          $('#chat').scrollTop($('#chat').get(0).scrollHeight);
                          
                          commandHistory.unshift(input);
                          commandIndex = -1;
                          break;
                      case 38: //Up
                          if (commandIndex < commandHistory.length - 1) {
                              commandIndex++;
                              $chatTextbox.val(commandHistory[commandIndex]);
                          }
                          break;
                      case 40: //Down
                          if (commandIndex > -1) {
                              commandIndex--
                              $chatTextbox.val(commandHistory[commandIndex]);
                          }
                          break;
                  }
              });
              
              $(document).on("click", ".message-player", function(event) {
                  $chatTextbox.val("/msg " + $(this).attr("player") + " ");
                  $chatTextbox.focus();
                  return false;
              });
          })
      </script>
    </div>
{% endblock %}
