{% extends "base.html" %}

{% load standardweb_extras %}

{% block title %}Player Search - Standard Survival Minecraft Server{% endblock %}

{% block content %}
    <div id="main">
        <h2>Player Search - "{{ query }}"</h2>
        {% if player_info %}
        {% for player_info in player_info %}
        <div class="search-row">
            <a href="/player/{{ player_info.username }}">
                {{ player_info.username|face_thumb }}
                {% if player_info.nickname %}
                    {{ player_info.nickname }}
                {% else %}
                    {{ player_info.username }}
                {% endif %}
            </a><br />
        </div>
        {% endfor %}
        {% else %}
        No results found
        {% endif %}
    </div>
{% endblock %}
